body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#template { display: none; }

.small-text { font-size: 12px; }
.big-text { 
  font-size: 44px; 
  line-height: 44px;
}

.text-wrap {
  float: left;
  margin-right: 10px;
}

.fixed-height { height: 50px; }

.bottom-margin { margin-bottom: 20px; }
.top-margin { margin-top: 20px; }

.text-center { text-align: center;}
